// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$header_height: 150px;
$navbar_height: 80px;
$body_container_width: 1080px;
$nav_container_width: 1295px;


